@use "../functions/index.scss" as f;
@use "../variables/index.scss" as v;

.caja{
    @include f.border();
    width: 75%;
    text-align: center;
    margin: 2% 5%;
}
.inputView{
    background-color: v.$clear-black;
    border: none;
    color:white;
    text-align: center;
    pointer-events: none;
}