@use "../functions/index.scss" as f;
@use "../variables/index.scss" as v;

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: -12%;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
}

.modalForm{
    height: 80% !important;
    width: 60% !important ;
    margin: -20% 0 0 -17% !important;
}

#main-modal{
    @include f.flex(column);
    color: white;
    border:3px solid v.$border-color;
    border-radius: 2%;
    background-color: v.$clear-black;
    height: 575px;
    width: 700px;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 35%;
    margin: -275px 0 0 -350px;
    padding: 30px 30px 50px 30px;
    .avatar-variant-container{
        height: 475px;
        width: 600px;
        @include f.flex-wrap(row);
        .avatar-variant-div{
            height: auto;
            width: auto;
            .avatar-variants{
                height: 90%;
                width: 90%;
            }
        }
    }
    div{
        .form-group{
            margin: 10px;
            width: 400px;
            .description-input-main-form{
                width: 100%;
                display: block;
            }
            #tagsFather{
                @include f.flex-wrap(row);
                border:3px solid v.$border-color;
                min-height: 50px;
                height: auto;
                .tag{
                    border:1px solid grey;
                    border-radius: 25px;
                    height: 25px;
                    margin: 3px;
                    padding: 0px 3px 0px 3px;
                    width: auto;
                }
            }
            div{
                .skill-input{
                    width: 200%;
                    margin-top: 10px;
                }
            }
        }
    }
}
